/* define fonts */
@font-face {
	font-family: "headerFont";
	src: url("Fonts/raleway_thin-webfont.woff") format('woff');
}

@font-face {
	font-family: "logoFont";
	src: url("Fonts/ostrich-sans-inline-italic.woff") format('woff');
	font-weight: 700;
}


/* HTML */
html {
	height: 100%;
}

/* Body */
body {
	background-image: url("Images/white_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100%;
	margin: 0;
}

/* Navigation Bar */
.top_nav {
	background-color: rgb(0, 0, 0, 0.8);

	padding-left: 20px;
	padding-right: 20px;
	max-height: 50px;

	overflow: hidden;
}

.top_nav::after {
	content: "";
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding-top: 12px;
	padding-bottom: 10px;

	font-family: headerFont;
	font-size: 30px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}


.logo:hover {
	color: #FFD700;
}

.logo.active {
	color: #FFD700;
}

.top_nav nav {
	float: right;
}

.top_nav nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	font-family: headerFont;
	font-size: 12px;
	font-weight: 100;
}

.top_nav nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 20px;
	padding-bottom: 18px;

	position: relative;
}

.top_nav nav ul li a {
	color: white;
	text-decoration: none;
}

.top_nav nav ul li a.active {
	color: #FFD700;
}

.top_nav nav ul li a.active::before {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;

	background-color: #FFD700;
}

.top_nav nav ul li a:hover {
	color: #FFD700;
}

.top_nav nav ul li a::before {
	content: "";
	display: block;
	height: 2px;
	width: 0%;
	position: absolute;
	bottom: 0;

	background-color: #FFD700;

	transition: all ease-in-out 200ms;
}

.top_nav nav ul li a:hover::before {
	width: 100%;
}

