/* define fonts */
@font-face {
	font-family: "thinFont";
	src: url("../Fonts/raleway_thin-webfont.woff") format('woff');
}

body{
	overflow-x: hidden;
}

.picture_content {
	max-width: 760px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
	position: relative;
	font-family: thinFont;
}

/* clear fix */
.picture_content::after {
	content: "";
	display: table;
	clear: both;
}

.headshot {
	float: left;
}

.headshot img{
	height: 250px;
	width: 370px;
	border-radius: 35%;
	border-style: solid;
	border-color: #494949;
	border-width: 5px;
	margin-right: -40px;
	margin-left: 10px;
}

.headshot img:hover {
	border-color: #FFD700;
}

.tagline {
	display: inline;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	position: absolute;
	right: 0;
	top: 22%;
	z-index: -1;
	background-color: rgb(0, 0, 0, 0.7);
	font-size: 25px;
	color: white;
	overflow-x: visible;
}

/* Description */
.description {
	text-indent: 4%;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #F4F6F7;
	background-color: rgb(70, 70, 70);
	font-size: 16px;
	font-family: 'Open Sans';
	border-width: 3px;
	border-bottom-style: solid;
	border-color: #FFD700;
}

.description p {
	max-width: 1000px;
	margin: 20px auto;
}

/* Education */
.education {
	padding-top: 20px;
	border-bottom-style: solid;
	border-top-style: solid;
	text-align: center;
	margin-bottom: 0px;
	font-family: thinFont;
	color: #FFD700;
	background-color: rgb(0, 0, 0, 0.7);
	line-height: 30px;
}

@media screen and (max-width: 750px) {
	.tagline {
		display: none;
	}
	.headshot {
		margin: auto;
		width: 100%;
		text-align: center;
	}
	.headshot img {
		margin-left: -40px;
	}
}